*{
    margin:0;
    padding:0;
}
:root{
    --teal:#67c8f5;
    --grey:#404147;
}
a{
    text-decoration: none;

}
body{
    color: var(--grey);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    margin:0;
    padding:0;

}
/* header styling start */
 header {
     display:flex;
    background-color:var(--grey);
    flex-wrap:wrap;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    width :100%;
    justify-content: space-between;
    padding:10px 0 5px 0;
    background-attachment: fixed;
    z-index: 9999;
    padding-top: 10px;
 }
 
 header h1 {
     display:flex;
    background-color:var(--teal);
    width:300px;
    height: 100%; 
   
    
 }

 header h1 a{
     padding-left: 11%;
     width: 350px;
     text-align: right;
     color:var(--grey);   

 }
 header nav{

    display:flex;
    padding:0;
    width: 50%;
    justify-content: flex-end;
    margin-right:30px;
 }
 header nav ul {
    display:flex;
    padding:0;
    justify-content: flex-end;
    list-style: none;
    
  }
 header nav ul li{
    margin:10px;
}


 header nav ul li a{
    
    font-size: 1.55vw;
    color :var(--teal);
    display:flex;
    width: auto;
    
    border-bottom: 3px solid;
    border-color: var(--teal);    
    }
   
 /* header styling ends */


 /* start of hero styling */
 .hero{
 background-image: url("../images/headerportfolio.jpg");
    height: 400px;
    background-size:cover;
    background-position: center;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-items: flex-end;
    align-items:flex-end;
    background-attachment: relative;
    background-position: 100%;
    
 }
 .hero-subtitle{
     background-color: var(--teal);
    align-items: flex-end;
    margin: 20px 20px 20px 1175px;
    font-size: 20px;
    padding: 5px 5px;
 }
 /* end */
 /* start of about me section */
 .about-me{
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 .about-me h1{
     font-size:50px;
     margin-top: 15px;
     
 }
 .about-me p{
    margin: 20px;
    padding-left:20px;
    border-left: 3px solid;
    border-color: var(--grey);
} 
 /* end */

 /* start of work section*/
 .work{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work h1{
    font-size:50px;
    margin-top: 15px;
    
}
.work .container{
   margin: 20px;
   padding-left:20px;
   border-left: 3px solid;
   border-color: var(--grey);
 
} 
.grid-container a{
color: var(--grey);
}
.work .container .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(2 1fr);
  align-content: space-between;
}
 .container .grid-item {
   grid-template-columns: 100px 50px 100px 50px;
    border:3px solid;
     border-color:var(--teal);
    background-size: cover;
    width:300px;
 }
 .label{
     margin-top: 100px;
     background-color: var(--teal);
     width:125px;
     margin-bottom: 30px;
     margin-right:50px;
     

 }
 

 


 .label h4{
     padding:5px ;
     padding-bottom: 0;
     padding-bottom: 0;
     width:125px;
 }
 .label p{
     padding-left:5px;
     font-size: small;
 }
 .item-1{
     background-image: url(../images/horiseon.jpg);
 }
 .item-2{
     background-image: url(../images/runbuddy.jpg);
 }
 .item-3{
     background-image: url(../images/commingsoon1.jpeg);
 }
 .item-4{
    
     background-image: url(../images/comingsoon2.jpeg);
    }
 .item-5{
     
     background-image: url(../images/comingsoon.jpeg);
}

 /* end of work section  */



 /* footer section */
 footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
footer h1{
    font-size:50px;
    margin-top: 15px;
    text-align:right;
    border-right: 3px solid;
    border-color: var(--grey);
    padding-right:20px;
    margin-left: 100px;
}
footer nav{
   margin: 20px;
   margin-left: 25px;
  
   height: 100px;
}  

 footer nav ul {
    display:flex;
    padding:0;
    justify-content: flex-end;
    list-style: none;
    padding-top: 35px;

    
    
  }
 footer nav ul li{
    margin:10px;
}


 footer nav ul li a{
    
    font-size: 1.55vw;
    color :var(--grey);
    display:flex;
    width: auto;
    border-bottom: 3px solid;
    border-color: var(--grey);
    
    }