*{
    margin:0;
    padding:0;
}
:root{
    --teal:#67c8f5;
    --grey:#404147;
}
a{
    text-decoration: none;
}
body{
    color: var(--grey);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    margin:0;
    padding:0;

}
/* header styling start */
 header {
     display:flex;
    background-color:var(--grey);
    flex-wrap:wrap;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    width :100%;
    justify-content: space-between;
    padding:10px 0 5px 0;
    background-attachment: fixed;
    z-index: 9999;
    padding-top: 10px;
 }
 
 header h1 {
     display:flex;
    background-color:var(--teal);
    width:300px;
    height: 100%; 
   
    
 }

 header h1 a{
     padding-left: 11%;
     width: 350px;
     text-align: right;
     color:var(--grey);   

 }
 header nav{

    display:flex;
    padding:0;
    width: 50%;
    justify-content: flex-end;
    margin-right:30px;
 }
 header nav ul {
    display:flex;
    padding:0;
    justify-content: flex-end;
    list-style: none;
    
  }
 header nav ul li{
    margin:10px;
}


 header nav ul li a{
    
    font-size: 1.55vw;
    color :var(--teal);
    display:flex;
    width: auto;
    
    border-bottom: 3px solid;
    border-color: var(--teal);    
    }
   
 /* header styling ends */


 /* start of hero styling */
 .hero{
 background-image: url("../images/headerportfolio.jpg");
    height: 400px;
    background-size:cover;
    background-position: center;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-items: flex-end;
    align-items:flex-end;
    background-attachment: relative;
    background-position: 100%;
    
 }
 .hero-subtitle{
     background-color: var(--teal);
    align-items: flex-end;
    margin: 20px 20px 20px 1175px;
    font-size: 20px;
    padding: 5px 5px;
 }
 /* end */
 /* start of about me section */
 .about-me{
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 .about-me h1{
     font-size:50px;
     margin-top: 15px;
     
 }
 .about-me p{
    margin: 20px;
    padding-left:20px;
    border-left: 3px solid;
    border-color: var(--grey);
} 
 /* end */

 /* grid */
 .work{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.work h1{
    font-size:50px;
    margin-top: 15px;
    
}
.work .container{
   margin: 20px;
   padding-left:20px;
   border-left: 3px solid;
   border-color: var(--grey);
} 
 .container .grid-item {
     display:grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
 }
 /* footer section */
 footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
footer h1{
    font-size:50px;
    margin-top: 15px;
    text-align:right;
    border-right: 3px solid;
    border-color: var(--grey);
    padding-right:20px;
}
footer nav{
   margin: 20px;
   
  
   height: 100px;
}  
/* header nav{

    display:flex;
    padding:0;
    width: 50%;
    justify-content: flex-end;
    margin-right:30px;
 } */
 footer nav ul {
    display:flex;
    padding:0;
    justify-content: flex-end;
    list-style: none;
    padding-top: 35px;

    
    
  }
 footer nav ul li{
    margin:10px;
}


 footer nav ul li a{
    
    font-size: 1.55vw;
    color :var(--grey);
    display:flex;
    width: auto;
    border-bottom: 3px solid;
    border-color: var(--grey);
    
    }